@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


.navbar .active {
  color: dodgerblue;
  font-weight: bold;
  text-decoration: underline ;

}

*{
    font-family: "Inter", sans-serif;
}